@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

/* Класс для обнуления базовых свойств у списков (ul) */
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* Класс для обнуления базовых свойств у ссылок */
a {
  text-decoration: none;
  color: inherit;
}

/* Свойства для корректного отображения картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Свойства для обнуления курсива у address */
address {
  font-style: normal;
}

body {
  font-family: "Kanit", sans-serif;
  background: linear-gradient(45deg, rgb(82, 58, 180) 0%, rgb(50, 182, 138) 31%, rgb(27, 204, 204) 61%, rgb(182, 43, 184) 87%);
  background-size: 200% 200%;
  -webkit-animation: bgColor 10s ease-in-out infinite alternate;
          animation: bgColor 10s ease-in-out infinite alternate;
}

@-webkit-keyframes bgColor {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@keyframes bgColor {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 100% 50%;
  }
}
.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-areas: "header" "main" "footer";
}

.header {
  position: sticky;
  top: 0;
  padding: 15px;
  background: linear-gradient(45deg, rgb(173, 148, 249) 0%, rgb(43, 184, 170) 30%);
  display: grid;
  grid-template: 1fr/1fr minmax(auto, 300px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  font-size: 44px;
  color: #fff;
  font-family: "Edu QLD Beginner";
  -webkit-transition: 800ms ease;
  transition: 800ms ease;
}

.header-list {
  display: grid;
  grid-auto-flow: column;
}

.header-list__link-one,
.header-list__link-two,
.header-list__link-three {
  display: block;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
  -webkit-transition: 600ms ease;
  transition: 600ms ease;
}

.header-list__link-three {
  display: inline-block;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.header-list__link-one:hover,
.header-list__link-two:hover,
.header-list__link-three:hover {
  color: rgb(255, 130, 213);
}

.main {
  display: grid;
  grid-template: 1fr/minmax(auto, 200px) 1fr;
}

.sidebar {
  padding: 15px 0 0 15px;
  background: -webkit-gradient(linear, left top, right top, from(rgb(39, 203, 126)), color-stop(87%, rgb(43, 184, 170)));
  background: linear-gradient(90deg, rgb(39, 203, 126) 0%, rgb(43, 184, 170) 87%);
}

.sidebar__list {
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  gap: 30px;
}

.sidebar__link {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  -webkit-transition: color 250ms ease-in-out, border-bottom 250ms ease-in-out;
  transition: color 250ms ease-in-out, border-bottom 250ms ease-in-out;
  border-bottom: 1px solid #fff;
}

.sidebar__link:hover {
  color: rgb(255, 130, 213);
  border-color: rgb(255, 130, 213);
}

.content {
  display: grid;
  grid-template: 1fr/1fr;
  padding: 45px 15px 15px 15px;
}

.content__title {
  font-size: 52px;
  color: #fff;
  text-align: center;
  -webkit-animation: txtShow 0.4s;
          animation: txtShow 0.4s;
}

@-webkit-keyframes txtShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes txtShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.content__txt {
  font-size: 28px;
  text-align: center;
  color: #fff;
  -webkit-animation: txtShowTwo 1s;
          animation: txtShowTwo 1s;
}

@-webkit-keyframes txtShowTwo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes txtShowTwo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.content__gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery-item__big--one {
  grid-row: 1/span 3;
  grid-column: 1/span 3;
}

.gallery-item__big--three {
  grid-row-start: 5;
  grid-row-end: 7;
  grid-column-start: 3;
  grid-column-end: 4;
}

.gallery-item__big--four {
  grid-row-start: 7;
  grid-row-end: 8;
  grid-column-start: 1;
  grid-column-end: 3;
}

.footer {
  padding: 20px;
  background: -webkit-gradient(linear, right top, left top, from(rgb(173, 148, 249)), color-stop(30%, rgb(43, 184, 170)));
  background: linear-gradient(270deg, rgb(173, 148, 249) 0%, rgb(43, 184, 170) 30%);
}

.footer-container__list {
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
  grid-template-rows: 1fr;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.footer-container__link {
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  -webkit-transition: color 800ms ease;
  transition: color 800ms ease;
}

.footer-container__link:hover {
  color: rgb(157, 74, 129);
}

.body-modal-open {
  overflow: hidden;
}

.is-invisible {
  opacity: 0;
  pointer-events: none;
}

.bio-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(63, 63, 63, 0.5);
  -webkit-transition: 400ms ease;
  transition: 400ms ease;
}

.bio-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: minmax(auto, 1fr) 1fr 1fr;
  grid-template-rows: minmax(auto, 80px);
  width: 500px;
  height: 300px;
  padding: 20px;
  background-color: #fff;
}

.bio-modal__close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 20px;
}

.bio-modal__close-btn:hover {
  color: rgb(245, 106, 217);
}

.bio-modal__title {
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 32px;
  font-weight: 500;
  font-family: "Edu QLD Beginner";
  color: black;
}

.bio-modal__txt {
  grid-column-start: 1;
  grid-column-end: 4;
  font-size: 18px;
}

.bio-modal__example-txt {
  grid-column-start: 1;
  grid-column-end: 4;
}

.main-two {
  display: grid;
  grid-template: 1fr/1fr;
}

.gallery-section {
  padding: 20px;
}

.gallery-container {
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 20px;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.thumb-wrapper {
  -webkit-box-shadow: 1px 6px 10px 2px rgba(0, 0, 0, 0.75);
          box-shadow: 1px 6px 10px 2px rgba(0, 0, 0, 0.75);
}

.thumb-wrapper1 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 3;
  grid-row-end: 2;
}

.thumb-wrapper2 {
  grid-row-start: 1;
  grid-row-end: span 2;
  grid-column-start: 3;
  grid-column-end: 2;
}

.thumb-wrapper3 {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 3;
  grid-column-end: 4;
}

.thumb-wrapper4 {
  grid-row-end: 6;
  grid-column-start: 3;
}

.thumb-wrapper5 {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 1;
}

.thumb-wrapper9 {
  grid-column: 2/span 2;
  grid-row: 3/span 1;
}

.thumb-wrapper6 {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column: 1;
  grid-column-end: 2;
}

.thumb-wrapper15 {
  grid-column-start: 1;
  grid-column-end: span 3;
}

.thumb-wrapper16 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.thumb-wrapper22 {
  grid-column-start: 1;
  grid-column-end: 3;
}/*# sourceMappingURL=main.css.map */