.main-two {
    display: grid;
    grid-template: 1fr / 1fr;
}

.gallery-section{
    padding: 20px;
}

.gallery-container{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 20px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thumb-wrapper{
    box-shadow: 1px 6px 10px 2px rgba(0, 0, 0, 0.75);
}

.thumb-wrapper1{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 2;
}

.thumb-wrapper2{
    grid-row-start: 1;
    grid-row-end: span 2;
    grid-column-start: 3;
    grid-column-end: 2;
}

.thumb-wrapper3{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
}

.thumb-wrapper4{
    grid-row-end: 6;
    grid-column-start: 3;
}

.thumb-wrapper5{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
}

.thumb-wrapper9{
    grid-column: 2 / span 2;
    grid-row: 3 / span 1;
}

.thumb-wrapper6{
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column: 1;
    grid-column-end: 2;
}

.thumb-wrapper15{
    grid-column-start: 1;
    grid-column-end: span 3;
}

.thumb-wrapper16{
    grid-column-start: 1;
    grid-column-end: 2;
}

.thumb-wrapper22{
    grid-column-start: 1;
    grid-column-end: 3;
}